.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.env.*
!.env.example
!docker/env/.env.example.*
docker/env/.env.app
docker/env/.env.grafana
docker/env/.env.postgres
docker/env/.env.postgres-exporter
docker/env/.env.rabbitmq
docker/env/.env.redis
docker/minirag/alembic.ini
src/models/db_schemes/minirag/alembic.ini

qdrant_db/
src/qdrant_db/
assets/*
!src/assets/mini-rag-app.postman_collection.json

.DS_Store